.artist-background{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-artworks {
  width: 90%;
  margin: 0px 40px 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

.artworks img {
  width: 100%; /* This ensures that the image takes up the full width of its container */
  height: 175px; /* This maintains the image's aspect ratio */
}

.emoji {
  margin-top: 20px;
  display: grid;  /* Set display to grid */
  grid-template-columns: repeat(4, 1fr);  /* Create 4 columns with equal widths */
  align-items: center;
  justify-items: center;  /* Center align the content in each grid cell */
}

.emoji-option {
  display: inline-block;  /* Aligns the divs horizontally within the nav */
  text-align: center;     /* Centers the content inside each div */
}

.emoji img {
  width: 30px;  /* Define the desired size for the emoji images */
  height: 30px;
  margin-bottom: 10px; /* Gap between img and p */
}

.artists-list {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
  margin-bottom: 10px;
  margin-top: 30px;
}

.artists-list:hover {
  transform: scale(1.08);
  box-shadow: none;
  cursor: pointer;
}

