.main-artworks {
  margin: 0 40px 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

.artworks img {
  width: 100%; /* This ensures that the image takes up the full width of its container */
  height: 175px; /* This maintains the image's aspect ratio */
}

.artists-list {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
  margin-bottom: 10px;
  margin-top: 30px;
}

.artists-list:hover {
  transform: scale(1.08);
  box-shadow: none;
  cursor: pointer;
}
